<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Server Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>

<ul>
  <%= @monitor_link %>
  <%= @php_info_link %>
  <%= @memcached_link %>
  <%= @opcache_link %>
  <%= @redis_link %>
</ul>


</body>
</html>
